:root {
  --principal-color: #005577;
  --fondo-color: #f2f2f2;
  --subtitulo-color: #a1ce4c;
  --subtitulos-color: #16beb8;
  --cajas-color: #e1e0e0;
  --principaloscuro-color: #003c54;
  --footer-color: #494949;
}

body {
  font-family: "Akshar", sans-serif;
  font-family: "Montserrat", sans-serif;
  background-color: var(--fondo-color);
  color: var(--principal-color);
}

a {
  text-decoration: none;
  color: var(--fondo-color);
}
